{% extends "layout.html" %}

{% block title %}
   About GIMME
{% endblock %}

{% block main %}

<br>
<br>
<br>
<h1>About GIMME</h1>

Gimme is a personalized gifting website<br>
<br>


<div style="text-align: center;">
    <div style="display: inline-block; text-align: left;">
<b>Our Mission:</b><br>
<i>
Gimme aims to provide gift recipients with the things they never knew they wanted—and neither did their friends.<br>
Through custom survey results and loads of data, givers can uncover the optimal gift for any friend for any occasion.
</i>
<br>
<br>
<b>A Message from Our CEO:</b><br>
</div>
</div>


<iframe width="756" height="425.25" src="https://www.youtube.com/embed/sfCGykJT0lw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"allowfullscreen></iframe>
<br>
<br>



<div style="text-align: center;">
    <div style="display: inline-block; text-align: left;">
<b>A Brief Overview:</b><br>
If you need to give a gift to a very picky friend, or one who you do not know very well, Gimme will allow you to <br>
send an anonymously link to your friend's email address so they can fill out the survery for themselves. Gimme <br>
also allows you to fill out surveys for your friends, when you know them enough, but aren't quite sure exactly <br>
what they want on a given occasion. This is great when you're getting a gift for your girlfriend and you don't <br>
want to ask her to fill out the survey because that's embarassing, but you still want to ensure that you will <br>
get her something she likes.<br><br>

Gimme only suggests to our users, really thoughtful and awesome gifts. We partner with small businesses and <br>
e-commerce companies, and we serve as a platform to introduce them to new customers. This ensure that the<br>
gifts visitors purchase are undoubtedly special, and this also drives revenue for us so we can continue to grow.<br>

A featured that we would like to add in the near future involves partnering with local busineses for services such<br>
as gift wrap service, flowers, cakes and other special event essentials. These services will be included on the final <br>
results page as users are selecting their final gifts.<br>
<br>

    </div>
</div>
<b>And that's it!<br>
<a href={{  url_for('survey')}}  >Happy giving!</a></b>

{% endblock %}
