{% extends "layout.html" %}

{% block title %}
   Register
{% endblock %}

{% block main %}

    <form action="/requestpassword" method="post">
        Please enter your email address to request a new password
        <br>
        <br>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="email" placeholder="Email Address" type="email">
        </div>
</div>
        <button class="btn btn-light btn-pink btn-md" type="submit">Send</button>
    </form>


</div>
{% endblock %}
