{% extends "layout.html" %}

{% block title %}
   Get Started
{% endblock %}

{% block main %}
    <!-- http://getbootstrap.com/docs/4.1/content/typography/ -->

    <br>
    <br>

    <!-- http://getbootstrap.com/docs/4.1/components/forms/ -->
    <br>
    <br>
    <br>
    <br>
    <br>
<h1>Let's Get Started</h1>
If you would like to send an anonymous email request for survey responses <br>
to your friend, click "Send a Survey"
If you know a fair bit about your friend, <br>
but want us to do the hard work of finding the perfect gift, click "Take A Survey"<br>
   <div class="form-group">
    <form action="/form" method="post">
        <br>
    <div class="btn-group">
    <a  class="btn btn-lg btn-light btn-pink" href="/surveysend" role="button">Send A Survey</a>
    <a  class="btn btn-lg btn-light btn-pink" href="/surveydoyou" role="button">Take A Survey</a>
    </form>
    </div>
    </div>

{% endblock %}
